.App {
  text-align: center;
}

.welcome {
  min-height: 100vh;
  min-width: 100vh;
  background-image: linear-gradient(to right, black, skyblue);
  color: white;
  text-align: center;
  position: relative;
}

.welcome-text {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.start-btn {
  color: white;
  padding: 16px 32px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  font-weight: bold;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  background-color: rgb(0, 0, 0, 0);
  color: white;
  border: 5px solid white;
}

.start-btn:hover {
  background-color: rgb(0, 0, 0, 0.5);
  color: white;
  border: 5px solid black;
}

.row{
  display: flex;
}

.white{
  height: 50px;
  width: 50px;
  background-color: white;
  border: 1px solid black;
}

.black{
  height: 50px;
  width: 50px;
  background-color: black;
  border: 1px solid white;
}



.drag-drop-zone {
  padding: 2rem;
  text-align: center;
  background: #07F;
  border-radius: 0.5rem;
  box-shadow: 5px 5px 10px #C0C0C0;
}
.drag-drop-zone p {
  color: #FFF;
}
.drag-drop-zone.inside-drag-area {
  opacity: 0.7;
}
.dropped-files li {
  color: #07F;
  padding: 3px;
  text-align: left;
  font-weight: bold;
}